
body {
	/*background: #333333;*/
	color: white;
	font-family: 'Arial';
/*background: rgba(31,31,31,1);
background: -moz-linear-gradient(left, rgba(31,31,31,1) 0%, rgba(64,60,64,1) 3%, rgba(102,102,102,1) 29%, rgba(88,88,88,1) 49%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 96%, rgba(17,17,17,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(31,31,31,1)), color-stop(3%, rgba(64,60,64,1)), color-stop(29%, rgba(102,102,102,1)), color-stop(49%, rgba(88,88,88,1)), color-stop(72%, rgba(71,71,71,1)), color-stop(96%, rgba(43,43,43,1)), color-stop(100%, rgba(17,17,17,1)));
background: -webkit-linear-gradient(left, rgba(31,31,31,1) 0%, rgba(64,60,64,1) 3%, rgba(102,102,102,1) 29%, rgba(88,88,88,1) 49%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 96%, rgba(17,17,17,1) 100%);
background: -o-linear-gradient(left, rgba(31,31,31,1) 0%, rgba(64,60,64,1) 3%, rgba(102,102,102,1) 29%, rgba(88,88,88,1) 49%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 96%, rgba(17,17,17,1) 100%);
background: -ms-linear-gradient(left, rgba(31,31,31,1) 0%, rgba(64,60,64,1) 3%, rgba(102,102,102,1) 29%, rgba(88,88,88,1) 49%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 96%, rgba(17,17,17,1) 100%);
background: linear-gradient(to right, rgba(31,31,31,1) 0%, rgba(64,60,64,1) 3%, rgba(102,102,102,1) 29%, rgba(88,88,88,1) 49%, rgba(71,71,71,1) 72%, rgba(43,43,43,1) 96%, rgba(17,17,17,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f1f1f', endColorstr='#111111', GradientType=1 );*/
    /*background: rgba(0, 0, 0, 0) linear-gradient(to right, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%) repeat scroll 0 0;*/
    /*background: #333333 url("../img/Mangatha-logo1.png") repeat fixed 0 0 / 480px 250px;*/
	/*background: #333333 url("../img/Mangatha-logo11.png") repeat fixed 0 0 / 25% 35%;*/
	background: #333333 url("../img/bg2.png") repeat fixed 0 0;
	/*background: #333333 url(&quot;../img/Mangatha-logo11.png&quot;) repeat scroll 50% 0px / cover  transparent;*/
    margin: 0 auto;
	/*opacity: 0.8;*/
}

/*
#main {
   position: relative;
}
#main:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../img/mankatha.png") repeat fixed 0 0; 
    width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}*/


.container {
}
.topplayer {
    height: 25%;
    left: 15%;
    position: absolute;
    top: 0;
    width: 70%;
}
.topplayerdetails {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 60%;
}
.topplayerdetails img {
    left: 0;
    position: absolute;
}
.leftplayer {
    height: 100%;
    position: absolute;
    top: 0;
    width: 15%;
}
.leftplayerdetails {
    height: 100%;
    position: relative;
}
.leftplayerdetails > img {
    position: absolute;
    right: 0;
    top: 0;
}
.leftplayerdetails ul.hand {
    left: 0;
    position: absolute;
    transform: rotate(90deg);
}
.centerplayer {
    height: 50%;
    left: 15%;
    position: absolute;
    top: 25%;
    width: 70%;
}
.centerplayerdetails {
    background-color: #cccccc;
    border: 2px solid #666666;
    border-radius: 10px;
    height: 95%;
}
.centerplayerdetails {
    height: 100%;
    position: relative;
}
.centerplayerdetails > img {
    position: absolute;
    right: 0;
}
.rightplayer {
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 15%;
}
.rightplayerdetails {
    height: 100%;
    position: relative;
}
.rightplayerdetails > img {
    left: 0;
    position: absolute;
}
.rightplayerdetails ul.hand {
    bottom: 0;
    position: absolute;
    right: 0;
    transform: rotate(270deg);
}
.topplayerdetails ul.hand {
    position: absolute;
    right: 0;
    transform: rotate(180deg);
}
.bottomplayer {
    bottom: 0;
    height: 25%;
    left: 15%;
    position: absolute;
    width: 70%;
}
.bottomplayerdetails {
    height: 100%;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 60%;
}
.bottomplayerdetails img {
    bottom: 0;
    position: absolute;
    right: 0;
}
.cardsset {
    position: relative;
}
.cardsset .c0 {
    background: rgba(0, 0, 0, 0) url("../img/cardset.png") repeat scroll 0 0;
    height: 58px;
    left: 0;
    position: absolute;
    width: 74px;
}
.cardsset .c1 {
    background: rgba(0, 0, 0, 0) url("../img/cardset.png") repeat scroll -74px 0;
    height: 58px;
    left: 74px;
    position: absolute;
    width: 74px;
}
.cardsset .c2 {
    background: rgba(0, 0, 0, 0) url("../img/cardset.png") repeat scroll -148px 0;
    height: 58px;
    left: 148px;
    position: absolute;
    width: 74px;
}
.cardsset .c3 {
    background: rgba(0, 0, 0, 0) url("../img/cardset.png") repeat scroll -222px 0;
    height: 58px;
    left: 222px;
    position: absolute;
    width: 74px;
}
.playingCards .card {
    background-color: #fff;
    border: 1px solid #666;
    border-radius: 0.3em;
    box-shadow: 0.2em 0.2em 0.5em #333;
    display: inline-block;
    font-family: Arial,sans-serif;
    font-weight: normal;
    height: 3.6em;
    margin: 0 0.5em 0.5em 0;
    padding: 0.25em;
    position: relative;
    text-align: center;
    width: 3.3em;
}
.playingCards a.card {
    text-decoration: none;
}
.playingCards a.card:hover, .playingCards a.card:active, .playingCards a.card:focus, .playingCards label.card:hover, .playingCards strong .card {
}
.playingCards label.card {
    cursor: pointer;
}
.playingCards .card.back {
    background-color: #ccc;
    background-image: -moz-repeating-linear-gradient(34% 6% 135deg, #0f1e59, #75a1bf, #3e3e63 50%);
    background-repeat: repeat;
    text-indent: -4000px;
}
.playingCards .card.D {
    color: #f00 !important;
}
.playingCards.fourColours .card.D {
    color: #00f !important;
}
[lang="de"] .playingCards.fourColours .card.D {
    color: #f60 !important;
}
.playingCards .card.H {
    color: #f00 !important;
}
.playingCards .card.S {
    color: #000 !important;
}
[lang="de"] .playingCards.fourColours .card.S {
    color: #090 !important;
}
.playingCards .card.C {
    color: #000 !important;
}
.playingCards.fourColours .card.C {
    color: #090 !important;
}
[lang="de"] .playingCards.fourColours .card.C {
    color: #000 !important;
}
.playingCards .card.joker {
    color: #000 !important;
}
.playingCards .card.joker.big {
    color: #f00 !important;
}
.playingCards .card .rank, .playingCards .card .suit {
    display: block;
    line-height: 1;
    text-align: left;
}
.playingCards .card .rank {
}
.playingCards .card .suit {
    line-height: 0.7;
}
.playingCards .card input {
    font: inherit;
    margin-top: -0.05em;
}
.playingCards.simpleCards .card input, .playingCards .card.rank-j input, .playingCards .card.rank-q input, .playingCards .card.rank-k input, .playingCards .card.rank-a input {
    margin-top: 2.4em;
}
.playingCards.inText .card input {
    margin-top: 0;
}
.playingCards .card .rank::after, .playingCards .card.joker .rank::before {
    background: #fff none repeat scroll 0 0;
    left: 0.25em;
    position: absolute;
    top: 0.25em;
}
[lang="de"] .playingCards .card.rank-j .rank::after {
    content: "B";
}
[lang="fr"] .playingCards .card.rank-j .rank::after {
    content: "V";
}
[lang="de"] .playingCards .card.rank-q .rank::after, [lang="fr"] .playingCards .card.rank-q .rank::after {
    content: "D";
}
[lang="fr"] .playingCards .card.rank-k .rank::after {
    content: "R";
}
.playingCards .card.joker .rank {
    position: absolute;
}
.playingCards .card.joker .rank::before {
    content: "★";
    left: 0;
    top: 0;
}
.playingCards .card.joker .suit {
    text-indent: -9999px;
}
.playingCards .card .suit::after {
    display: block;
    font-size: 1.3em;
    line-height: 0.9;
    margin-top: -0.8em;
    text-align: center;
    white-space: pre;
    word-spacing: -0.05em;
}
.playingCards .card.H .suit::after {
    word-spacing: -0.15em;
}
.playingCards .card.H.rank-10 .suit::after {
    letter-spacing: -0.1em;
    word-spacing: -0.05em;
}
.playingCards .card.C.rank-10 .suit::after {
    word-spacing: -0.15em;
}
.playingCards .card.rank-8 .suit::after, .playingCards .card.rank-9 .suit::after {
    letter-spacing: -0.075em;
}
.playingCards .card.rank-10 .suit::after {
    letter-spacing: -0.1em;
}
.playingCards .card.C .suit::after {
    letter-spacing: -0.125em;
}
.playingCards .card.rank-2.D .suit::after {
    content: "♦\a \a ♦";
}
.playingCards .card.rank-3.D .suit::after {
    content: "♦\a ♦\a ♦";
}
.playingCards .card.rank-4.D .suit::after {
    content: "♦ ♦\a \a ♦ ♦";
}
.playingCards .card.rank-5.D .suit::after {
    content: "♦ ♦\a ♦\a ♦ ♦";
}
.playingCards .card.rank-6.D .suit::after {
    content: "♦ ♦\a ♦ ♦\a ♦ ♦";
}
.playingCards .card.rank-7.D .suit::after {
    content: "♦ ♦\a ♦ ♦ ♦\a ♦ ♦";
}
.playingCards .card.rank-8.D .suit::after {
    content: "♦ ♦ ♦\a ♦ ♦\a ♦ ♦ ♦";
}
.playingCards .card.rank-9.D .suit::after {
    content: "♦ ♦ ♦\a ♦ ♦ ♦\a ♦ ♦ ♦";
}
.playingCards .card.rank-10.D .suit::after {
    content: "♦ ♦ ♦\a ♦ ♦ ♦ ♦\a ♦ ♦ ♦";
}
.playingCards .card.rank-2.H .suit::after {
    content: "♥\a \a ♥";
}
.playingCards .card.rank-3.H .suit::after {
    content: "♥\a ♥\a ♥";
}
.playingCards .card.rank-4.H .suit::after {
    content: "♥ ♥\a \a ♥ ♥";
}
.playingCards .card.rank-5.H .suit::after {
    content: "♥ ♥\a ♥\a ♥ ♥";
}
.playingCards .card.rank-6.H .suit::after {
    content: "♥ ♥\a ♥ ♥\a ♥ ♥";
}
.playingCards .card.rank-7.H .suit::after {
    content: "♥ ♥\a ♥ ♥ ♥\a ♥ ♥";
}
.playingCards .card.rank-8.H .suit::after {
    content: "♥ ♥ ♥\a ♥ ♥\a ♥ ♥ ♥";
}
.playingCards .card.rank-9.H .suit::after {
    content: "♥ ♥ ♥\a ♥ ♥ ♥\a ♥ ♥ ♥";
}
.playingCards .card.rank-10.H .suit::after {
    content: "♥ ♥ ♥\a ♥ ♥ ♥ ♥\a ♥ ♥ ♥";
}
.playingCards .card.rank-2.S .suit::after {
    content: "♠\a \a ♠";
}
.playingCards .card.rank-3.S .suit::after {
    content: "♠\a ♠\a ♠";
}
.playingCards .card.rank-4.S .suit::after {
    content: "♠ ♠\a \a ♠ ♠";
}
.playingCards .card.rank-5.S .suit::after {
    content: "♠ ♠\a ♠\a ♠ ♠";
}
.playingCards .card.rank-6.S .suit::after {
    content: "♠ ♠\a ♠ ♠\a ♠ ♠";
}
.playingCards .card.rank-7.S .suit::after {
    content: "♠ ♠\a ♠ ♠ ♠\a ♠ ♠";
}
.playingCards .card.rank-8.S .suit::after {
    content: "♠ ♠ ♠\a ♠ ♠\a ♠ ♠ ♠";
}
.playingCards .card.rank-9.S .suit::after {
    content: "♠ ♠ ♠\a ♠ ♠ ♠\a ♠ ♠ ♠";
}
.playingCards .card.rank-10.S .suit::after {
    content: "♠ ♠ ♠\a ♠ ♠ ♠ ♠\a ♠ ♠ ♠";
}
.playingCards .card.rank-2.C .suit::after {
    content: "♣\a \a ♣";
}
.playingCards .card.rank-3.C .suit::after {
    content: "♣\a ♣\a ♣";
}
.playingCards .card.rank-4.C .suit::after {
    content: "♣ ♣\a \a ♣ ♣";
}
.playingCards .card.rank-5.C .suit::after {
    content: "♣ ♣\a ♣\a ♣ ♣";
}
.playingCards .card.rank-6.C .suit::after {
    content: "♣ ♣\a ♣ ♣\a ♣ ♣";
}
.playingCards .card.rank-7.C .suit::after {
    content: "♣ ♣\a ♣ ♣ ♣\a ♣ ♣";
}
.playingCards .card.rank-8.C .suit::after {
    content: "♣ ♣ ♣\a ♣ ♣\a ♣ ♣ ♣";
}
.playingCards .card.rank-9.C .suit::after {
    content: "♣ ♣ ♣\a ♣ ♣ ♣\a ♣ ♣ ♣";
}
.playingCards .card.rank-10.C .suit::after {
    content: "♣ ♣ ♣\a ♣ ♣ ♣ ♣\a ♣ ♣ ♣";
}
.playingCards.faceImages .card.rank-j .suit::after, .playingCards.faceImages .card.rank-q .suit::after, .playingCards.faceImages .card.rank-k .suit::after {
    content: "";
}
.playingCards.faceImages .card.rank-j, .playingCards.faceImages .card.rank-q, .playingCards.faceImages .card.rank-k, .playingCards.faceImages .card.joker {
    background-position: -1em 0;
    background-repeat: no-repeat;
}
.playingCards.faceImages .card.rank-j.D {
    background-image: url("faces/JD.gif");
}
.playingCards.faceImages .card.rank-j.H {
    background-image: url("faces/JH.gif");
}
.playingCards.faceImages .card.rank-j.S {
    background-image: url("faces/JS.gif");
}
.playingCards.faceImages .card.rank-j.C {
    background-image: url("faces/JC.gif");
}
.playingCards.faceImages .card.rank-q.D {
    background-image: url("faces/QD.gif");
}
.playingCards.faceImages .card.rank-q.H {
    background-image: url("faces/QH.gif");
}
.playingCards.faceImages .card.rank-q.S {
    background-image: url("faces/QS.gif");
}
.playingCards.faceImages .card.rank-q.C {
    background-image: url("faces/QC.gif");
}
.playingCards.faceImages .card.rank-k.D {
    background-image: url("faces/KD.gif");
}
.playingCards.faceImages .card.rank-k.H {
    background-image: url("faces/KH.gif");
}
.playingCards.faceImages .card.rank-k.S {
    background-image: url("faces/KS.gif");
}
.playingCards.faceImages .card.rank-k.C {
    background-image: url("faces/KC.gif");
}
.playingCards.faceImages .card.joker {
    background-image: url("faces/joker.gif");
}
.playingCards.simpleCards .card.rank-j, .playingCards.simpleCards .card.rank-q, .playingCards.simpleCards .card.rank-k {
    background-image: none !important;
}
.playingCards.simpleCards .card .suit::after, .playingCards .card.rank-j .suit::after, .playingCards .card.rank-q .suit::after, .playingCards .card.rank-k .suit::after, .playingCards .card.rank-a .suit::after, .playingCards .card.joker .rank::after {
    bottom: 0.25em;
    font-family: Georgia,serif;
    font-size: 3em;
    letter-spacing: normal;
    line-height: 1;
    position: absolute;
    right: 0.1em;
    word-spacing: normal;
}
.playingCards .card.rank-j .suit::after {
    content: "♟";
    right: 0.15em;
}
.playingCards .card.rank-q .suit::after {
    content: "♛";
}
.playingCards .card.rank-k .suit::after {
    content: "♚";
}
.playingCards.faceImages .card.joker .rank::after {
    content: "";
}
.playingCards .card.joker .rank::after {
    content: "❦";
    left: 0.1em;
    position: absolute;
    top: 0.4em;
}
.playingCards.simpleCards .card .suit::after, .playingCards .card.rank-a .suit::after {
    bottom: 0.35em;
    font-family: Arial,sans-serif;
    line-height: 0.9;
}
.playingCards.simpleCards .card.D .suit::after, .playingCards .card.rank-a.D .suit::after {
    content: "♦";
    right: 0.4em;
}
.playingCards.simpleCards .card.H .suit::after, .playingCards .card.rank-a.H .suit::after {
    content: "♥";
    right: 0.35em;
}
.playingCards.simpleCards .card.S .suit::after, .playingCards .card.rank-a.S .suit::after {
    content: "♠";
    right: 0.35em;
}
.playingCards.simpleCards .card.C .suit::after, .playingCards .card.rank-a.C .suit::after {
    content: "♣";
    right: 0.3em;
}
.playingCards.inText .card {
    font-size: 0.4em;
    vertical-align: middle;
}
.playingCards.inText .card span.rank, .playingCards.inText .card span.suit {
    text-align: center;
}
.playingCards.inText .card span.rank {
    font-size: 2em;
    margin-top: 0.2em;
}
.playingCards.inText .card span.suit {
    font-size: 2.5em;
}
.playingCards.inText .card .suit::after, .playingCards.inText .card.joker .rank::after {
    content: "" !important;
}
.playingCards.inText .card .rank::after {
    left: 0.5em;
    padding: 0 0.1em;
}
.playingCards ul.table, .playingCards ul.hand, .playingCards ul.deck {
    clear: both;
    list-style-type: none;
    margin: 0 0 1.5em;
    padding: 0;
}
.playingCards ul.hand {
    margin-bottom: 0;
}
.playingCards ul.table li, .playingCards ul.hand li, .playingCards ul.deck li {
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.playingCards ul.hand, .playingCards ul.deck {
    height: auto;
}
.playingCards ul.hand li, .playingCards ul.deck li {
    position: absolute;
}
.playingCards ul.hand li {
    bottom: 0;
}
.playingCards ul.hand li:nth-child(1) {
    left: 0;
}
.playingCards ul.hand li:nth-child(2) {
    left: 1.1em;
}
.playingCards ul.hand li:nth-child(3) {
    left: 2.2em;
}
.playingCards ul.hand li:nth-child(4) {
    left: 3.3em;
}
.playingCards ul.hand li:nth-child(5) {
    left: 4.4em;
}
.playingCards ul.hand li:nth-child(6) {
    left: 5.5em;
}
.playingCards ul.hand li:nth-child(7) {
    left: 6.6em;
}
.playingCards ul.hand li:nth-child(8) {
    left: 7.7em;
}
.playingCards ul.hand li:nth-child(9) {
    left: 8.8em;
}
.playingCards ul.hand li:nth-child(10) {
    left: 9.9em;
}
.playingCards ul.hand li:nth-child(11) {
    left: 11em;
}
.playingCards ul.hand li:nth-child(12) {
    left: 12.1em;
}
.playingCards ul.hand li:nth-child(13) {
    left: 13.2em;
}
.playingCards ul.hand li:nth-child(14) {
    left: 14.3em;
}
.playingCards ul.hand li:nth-child(15) {
    left: 15.4em;
}
.playingCards ul.hand li:nth-child(16) {
    left: 16.5em;
}
.playingCards ul.hand li:nth-child(17) {
    left: 17.6em;
}
.playingCards ul.hand li:nth-child(18) {
    left: 18.7em;
}
.playingCards ul.hand li:nth-child(19) {
    left: 19.8em;
}
.playingCards ul.hand li:nth-child(20) {
    left: 20.9em;
}
.playingCards ul.hand li:nth-child(21) {
    left: 22em;
}
.playingCards ul.hand li:nth-child(22) {
    left: 23.1em;
}
.playingCards ul.hand li:nth-child(23) {
    left: 24.2em;
}
.playingCards ul.hand li:nth-child(24) {
    left: 25.3em;
}
.playingCards ul.hand li:nth-child(25) {
    left: 26.4em;
}
.playingCards ul.hand li:nth-child(26) {
    left: 27.5em;
}
.playingCards.rotateHand ul.hand li:nth-child(1) {
    transform: translate(1.9em, 0.9em) rotate(-42deg);
}
.playingCards.rotateHand ul.hand li:nth-child(2) {
    transform: translate(1.5em, 0.5em) rotate(-33deg);
}
.playingCards.rotateHand ul.hand li:nth-child(3) {
    transform: translate(1.1em, 0.3em) rotate(-24deg);
}
.playingCards.rotateHand ul.hand li:nth-child(4) {
    transform: translate(0.7em, 0.2em) rotate(-15deg);
}
.playingCards.rotateHand ul.hand li:nth-child(5) {
    transform: translate(0.3em, 0.1em) rotate(-6deg);
}
.playingCards.rotateHand ul.hand li:nth-child(6) {
    transform: translate(-0.1em, 0.1em) rotate(3deg);
}
.playingCards.rotateHand ul.hand li:nth-child(7) {
    transform: translate(-0.5em, 0.2em) rotate(12deg);
}
.playingCards.rotateHand ul.hand li:nth-child(8) {
    transform: translate(-0.9em, 0.3em) rotate(21deg);
}
.playingCards.rotateHand ul.hand li:nth-child(9) {
    transform: translate(-1.3em, 0.6em) rotate(30deg);
}
.playingCards.rotateHand ul.hand li:nth-child(10) {
    transform: translate(-1.7em, 1em) rotate(39deg);
}
.playingCards.rotateHand ul.hand li:nth-child(11) {
    transform: translate(-2.2em, 1.5em) rotate(48deg);
}
.playingCards.rotateHand ul.hand li:nth-child(12) {
    transform: translate(-2.8em, 2.1em) rotate(57deg);
}
.playingCards.rotateHand ul.hand li:nth-child(13) {
    transform: translate(-3.5em, 2.8em) rotate(66deg);
}
.playingCards ul.deck li:nth-child(1) {
    bottom: 0;
    left: 0;
}
.playingCards ul.deck li:nth-child(2) {
    bottom: 1px;
    left: 2px;
}
.playingCards ul.deck li:nth-child(3) {
    bottom: 1px;
    left: 4px;
}
.playingCards ul.deck li:nth-child(4) {
    bottom: 1px;
    left: 6px;
}
.playingCards ul.deck li:nth-child(5) {
    bottom: 1px;
    left: 8px;
}
.playingCards ul.deck li:nth-child(6) {
    bottom: 1px;
    left: 10px;
}
.playingCards ul.deck li:nth-child(7) {
    bottom: 1px;
    left: 12px;
}
.playingCards ul.deck li:nth-child(8) {
    bottom: 1px;
    left: 14px;
}
.playingCards ul.deck li:nth-child(9) {
    bottom: 1px;
    left: 16px;
}
.playingCards ul.deck li:nth-child(10) {
    bottom: 1px;
    left: 18px;
}
.playingCards ul.deck li:nth-child(11) {
    bottom: 1px;
    left: 20px;
}
.playingCards ul.deck li:nth-child(12) {
    bottom: 1px;
    left: 22px;
}
.playingCards ul.deck li:nth-child(13) {
    bottom: 1px;
    left: 24px;
}
.playingCards ul.deck li:nth-child(14) {
    bottom: 1px;
    left: 26px;
}
.playingCards ul.deck li:nth-child(15) {
    bottom: 1px;
    left: 28px;
}
.playingCards ul.deck li:nth-child(16) {
    bottom: 1px;
    left: 30px;
}
.playingCards ul.deck li:nth-child(17) {
    bottom: 1px;
    left: 32px;
}
.playingCards ul.deck li:nth-child(18) {
    bottom: 1px;
    left: 34px;
}
.playingCards ul.deck li:nth-child(19) {
    bottom: 1px;
    left: 36px;
}
.playingCards ul.deck li:nth-child(20) {
    bottom: 1px;
    left: 38px;
}
.playingCards ul.deck li:nth-child(21) {
    bottom: 1px;
    left: 40px;
}
.playingCards ul.deck li:nth-child(22) {
    bottom: 1px;
    left: 42px;
}
.playingCards ul.deck li:nth-child(23) {
    bottom: 1px;
    left: 44px;
}
.playingCards ul.deck li:nth-child(24) {
    bottom: 1px;
    left: 46px;
}
.playingCards ul.deck li:nth-child(25) {
    bottom: 1px;
    left: 48px;
}
.playingCards ul.deck li:nth-child(26) {
    bottom: 1px;
    left: 50px;
}
.playingCards ul.deck li:nth-child(27) {
    bottom: 1px;
    left: 52px;
}
.playingCards ul.deck li:nth-child(28) {
    bottom: 1px;
    left: 54px;
}
.playingCards ul.deck li:nth-child(29) {
    bottom: 1px;
    left: 56px;
}
.playingCards ul.deck li:nth-child(30) {
    bottom: 1px;
    left: 58px;
}
.playingCards ul.deck li:nth-child(31) {
    bottom: 1px;
    left: 60px;
}
.playingCards ul.deck li:nth-child(32) {
    bottom: 1px;
    left: 62px;
}
.centerplayerdetails ul.hand {
    color: red;
    position: absolute;
    top: 40% !important;
}
.gradient-pattern {
/*    background-attachment: scroll, scroll, scroll;
    background-clip: border-box;
    background-color: rgb(255, 255, 255);
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.098) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.098) 75%, rgba(0, 0, 0, 0.098) 0px), linear-gradient(45deg, rgba(0, 0, 0, 0.098) 25%, rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0) 75%, rgba(0, 0, 0, 0.098) 75%, rgba(0, 0, 0, 0.098) 0px), none;
    background-origin: padding-box;
    background-position: 0 0px, 40px 40px;
    background-repeat: repeat, repeat, repeat;
    background-size: 80px 80px;*/
/*	background: rgba(36,100,168,1);
background: -moz-linear-gradient(left, rgba(36,100,168,1) 0%, rgba(22,116,204,1) 13%, rgba(22,116,204,1) 86%, rgba(36,100,168,1) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(36,100,168,1)), color-stop(13%, rgba(22,116,204,1)), color-stop(86%, rgba(22,116,204,1)), color-stop(100%, rgba(36,100,168,1)));
background: -webkit-linear-gradient(left, rgba(36,100,168,1) 0%, rgba(22,116,204,1) 13%, rgba(22,116,204,1) 86%, rgba(36,100,168,1) 100%);
background: -o-linear-gradient(left, rgba(36,100,168,1) 0%, rgba(22,116,204,1) 13%, rgba(22,116,204,1) 86%, rgba(36,100,168,1) 100%);
background: -ms-linear-gradient(left, rgba(36,100,168,1) 0%, rgba(22,116,204,1) 13%, rgba(22,116,204,1) 86%, rgba(36,100,168,1) 100%);
background: linear-gradient(to right, rgba(36,100,168,1) 0%, rgba(22,116,204,1) 13%, rgba(22,116,204,1) 86%, rgba(36,100,168,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2464a8', endColorstr='#2464a8', GradientType=1 );*/
background: url("../img/download.jpg") repeat fixed 0 0;
}
.centerCards{
	
}